<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    	<title>登录</title>
	<link href="/static/vjpage/css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="/static/vjpage/css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="/static/vjpage/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="/static/vjpage/css/config.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/vjpage/js/public.js"></script>
	<script type="text/javascript" src="/static/vjpage/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/static/vjpage/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/vjpage/js/checkbox.js"></script>
	<script type="text/javascript" src="/static/vjpage/js/page5.js"></script>
    <script src="/static/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/myCreate/js/login.js"></script>
</head>
<body data-curpagename="page5" class="body_style1" style="background-image: url(/static/vjpage/images/jloginbg04.jpg); background-repeat: repeat-y; background-size: cover;">
<div id="page5_jPanel1" class="Panel Panel_Null">
	<div id="page5_jHtmlForm1_form">
		<form id="page5_jHtmlForm1" name="page5_jHtmlForm1" >
			<div id="page5_jPanel2" class="Panel Panel_Null border_radius_5">
				<div id="page5_jLabel2" class="text" >用户名：</div>
				<input type="text" class="Edit Edit_style1" value="" id="page5_jEdit1" tabindex="1"/></div>
			<div id="page5_jPanel3" class="Panel Panel_Null border_radius_5">
				<div id="page5_jLabel7" class="text">密　码：</div>
				<input type="password" class="Edit Edit_style4" value="" id="page5_jEdit2" tabindex="2"/></div>
			<div id="page5_jPanel4" class="Panel Panel_Null border_radius_5">
				<div class="checkbox_style3 checkbox" id="page5_jCheckBox1" tabindex="3"><input id="check_page5_jCheckBox1" type="checkbox"><div class="checkbox_label" id="check_page5_jCheckBox1_l"><span><div class="cate-1">否</div><div class="cate-2">是</div></span></div></div>
				<div id="page5_jLabel1" class="text">记住密码：</div></div>
			<div id="page5_jButton1" class="vjbutton border_radius_3 vjbutton_c_style4" tabindex="4"><div class="vjbutton_txtR" id="login_request">登录</div></div>	</form>
	</div>

	<div id="page5_jLabel5" class="text">用户登录</div>
	<div id="page5_jLabel6" class="text">LOGIN IN</div></div>
<div id="page5_jPanel5" class="Panel Panel_Null">
	<div id="page5_jLabel3" class="text">华润六枝有限公司</div>
	<div id="page5_jImages1" class="Timage Timage_style1 Timage_auto"><img src="/static/vjpage/images/jlogosmall.png" alt="/static/vjpage/images/jlogosmall.png" title=""/></div>
	<map name="page5_jImages1_map" id="page5_jImages1_map">
	</map>
	<div id="page5_jLabel4" class="text">汽车采样点分布系统</div></div>

</body>
<script type="text/javascript" src="/static/vjpage/js/Timage.js"></script>

</html>