<!DOCTYPE html>
<html>
<head>
	<title>Detail Admin - Home</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="/static/temp/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/static/temp/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/static/temp/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="/static/temp/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="/static/temp/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/static/temp/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/static/temp/css/elements.css" />
    <link rel="stylesheet" type="text/css" href="/static/temp/css/icons.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/temp/css/compiled/index.css" type="text/css" media="screen" />
{#    导入样式#}
     <link rel="stylesheet" href="/static/myCreate/css/dispaly.css" type="text/css" />


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

    <!-- sidebar -->
    <div id="sidebar-nav" >

        <ul id="dashboard-menu">

            <li class="disactive classificationQuery" id="">
                <a class="dropdown-toggle" href="#">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <i class="icon-edit"></i>
                    <span>分类查询</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="disactive submenu">


                        <li class="active"  id="pageOne">
                            <div class="pointer">
                                <div class="arrow"></div>
                                <div class="arrow_border"></div>
                            </div>
                            <a href="index">

                                <span>单次采样展示</span>
                            </a>
                        </li>

                                <li id="pageMany">
                            <a href="many">

                                <span>按车辆查询</span>
                            </a>
                        </li>

                        <li id="pageSup">
                        <a href="sup">

                            <span>按矿点查询</span>
                        </a>
                    </li>
                    <li id="pageProd">
                        <a href="prod">

                            <span>按供应商查</span>
                        </a>
                    </li>


                </ul>
            </li>


            <li class="disactive classificationQuery">
                <a class="dropdown-toggle" href="#">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <i class="icon-edit"></i>
                    <span>相关统计</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="disactive submenu">


                        <li id=" ">
                        <a href="test1">
                            <span>按供测试</span>
                        </a>
                    </li>


                </ul>
            </li>





        </ul>
{#       查询结果展示   #}
        <div style=" width: 140px; margin-left: 25px;margin-top: 10%; border: 1px dashed #7e91aa">
            <div style="margin-left: 30px;margin-bottom: 5px; margin-top: 2px;" id="carListContain">
{#                <input class="btn btn-default btn-small" type="button" value="贵B1234B" data-pk="'+item[0]+'">#}
                <input class="btn btn-default btn-small" type="button" value="请查询" data-pk="'+item[0]+'">

            </div>




            <button data-tile ="last"  class="btn btn-default btn-small" id="manyPrePage" ><a href="#" aribel="Previous"><span aria-hidden="true"  >上一页</span> </a></button>
            <span    id="curentPageDisplay">1</span>
            <button  id="manyNextPage" data-tile="next" class="btn btn-default btn-small"  ><a href="#" aria-label="Next"><span aria-hidden="true"  >下一页</span></a> </button>
        </div>

{#       end  查询结果展示   #}

    </div>
    <!-- end sidebar -->














	<!-- main container -->
    <div class="content">



        <div class="container-fluid">
            <!-- upper main stats -->
            <div id="main-stats" >
                <div class="row-fluid stats-row" style="height:70px ">
                    <div style="margin: 19px;">
                        <span style="font-size: 18px"  >开始时间：</span  ><input type="datetime-local" value="2018-01-27T00:00:01" id="bgTimeMany" class="inputTimes"/>&nbsp;&nbsp;&nbsp;&nbsp;
                         <span style="font-size: 18px" >结束时间：</span><input type="datetime-local" value="2018-04-28T08:59:59" id="endTimeMany" class="inputTimes"/>
                         <button type="button" class="btn-flat  info" style="font-size: 18px"  id="manySearch">查询</button>
                    </div>
                </div>
            </div>
            <!-- end upper main stats -->

            <div id="pad-wrapper">

                <!-- statistics chart built with jQuery Flot -->
                <div class="row-fluid chart">
{#                    <h4>#}
{#                        Statistics#}
{#                         <div class="btn-group pull-right">#}
{#                            <button class="glow left">DAY</button>#}
{#                            <button class="glow middle active">MONTH</button>#}
{#                            <button class="glow right">YEAR</button>#}
{#                        </div>#}
{#                    </h4>#}
                            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                               <div id="main" style="height:500px"></div>
                            <!-- end   为ECharts准备一个具备大小（宽高）的Dom -->
                </div>
                <!-- end statistics chart -->

{#                <!-- UI Elements section -->#}
{#                <div class="row-fluid section ui-elements">#}
{#                    <h4>UI Elements</h4>#}
{##}
{#                </div>#}
        </div>
    </div>


	<!-- scripts -->
{#    <script src="http://code.jquery.com/jquery-latest.js"></script>#}
    <script src="/static/temp/js/bootstrap.min.js"></script>
    <script src="/static/temp/js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- knob -->
    <script src="/static/temp/js/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="/static/temp/js/jquery.flot.js"></script>
    <script src="/static/temp/js/jquery.flot.stack.js"></script>
    <script src="/static/temp/js/jquery.flot.resize.js"></script>
    <script src="/static/temp/js/theme.js"></script>

    <script type="text/javascript">
        $(function () {

            // jQuery Knobs
            $(".knob").knob();



            // jQuery UI Sliders
            $(".slider-sample1").slider({
                value: 100,
                min: 1,
                max: 500
            });
            $(".slider-sample2").slider({
                range: "min",
                value: 130,
                min: 1,
                max: 500
            });
            $(".slider-sample3").slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 40, 170 ],
            });



            // jQuery Flot Chart
            var visits = [[1, 50], [2, 40], [3, 45], [4, 23],[5, 55],[6, 65],[7, 61],[8, 70],[9, 65],[10, 75],[11, 57],[12, 59]];
            var visitors = [[1, 25], [2, 50], [3, 23], [4, 48],[5, 38],[6, 40],[7, 47],[8, 55],[9, 43],[10,50],[11,47],[12, 39]];

            var plot = $.plot($("#statsChart"),
                [ { data: visits, label: "Signups"},
                 { data: visitors, label: "Visits" }], {
                    series: {
                        lines: { show: true,
                                lineWidth: 1,
                                fill: true,
                                fillColor: { colors: [ { opacity: 0.1 }, { opacity: 0.13 } ] }
                             },
                        points: { show: true,
                                 lineWidth: 2,
                                 radius: 3
                             },
                        shadowSize: 0,
                        stack: true
                    },
                    grid: { hoverable: true,
                           clickable: true,
                           tickColor: "#f9f9f9",
                           borderWidth: 0
                        },
                    legend: {
                            // show: false
                            labelBoxBorderColor: "#fff"
                        },
                    colors: ["#a7b5c5", "#30a0eb"],
                    xaxis: {
                        ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4,"APR"], [5,"MAY"], [6,"JUN"],
                               [7,"JUL"], [8,"AUG"], [9,"SEP"], [10,"OCT"], [11,"NOV"], [12,"DEC"]],
                        font: {
                            size: 12,
                            family: "Open Sans, Arial",
                            variant: "small-caps",
                            color: "#697695"
                        }
                    },
                    yaxis: {
                        ticks:3,
                        tickDecimals: 0,
                        font: {size:12, color: "#9da3a9"}
                    }
                 });

            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css( {
                    position: 'absolute',
                    display: 'none',
                    top: y - 30,
                    left: x - 50,
                    color: "#fff",
                    padding: '2px 5px',
                    'border-radius': '6px',
                    'background-color': '#000',
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#statsChart").bind("plothover", function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(0),
                            y = item.datapoint[1].toFixed(0);

                        var month = item.series.xaxis.ticks[item.dataIndex].label;

                        showTooltip(item.pageX, item.pageY,
                                    item.series.label + " of " + month + ": " + y);
                    }
                }
                else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        });
    </script>
            <!-- ECharts相关文件 -->
{#    <script src="../build/dist/echarts.js"></script>#}
    <script src="/static/echart2/build/dist/echarts.js"></script>
        <script src="/static/jquery/jquery-3.2.1.min.js"></script>
        <script src="/static/myCreate/js/myTool.js"></script>
        <script src="/static/myCreate/js/common.js"></script>
        <script src="/static/myCreate/js/manyTiems.js"></script>

</body>
</html>