<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>新页面2</title>
	<link href="css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="css/config.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="js/public.js"></script>
	<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
</head>
<body data-curpagename="page4" class="body_style1" style="background-image: url(images/jloginbg02.gif); background-repeat: repeat-x;">
<div id="page4_jPanel1" class="Panel Panel_Null">
	<div id="page4_jPanel2" class="Panel Panel_Null">
		<div id="page4_jHtmlForm1_form">
			<form id="page4_jHtmlForm1" name="page4_jHtmlForm1" method="post" action="">
				<div id="page4_jLabel1" class="text">用户名：</div>
				<input type="text" class="Edit Edit_style1" value="" id="page4_jEdit1"/>
				<div id="page4_jLabel2" class="text">密　码：</div>
				<div class="checkbox checkbox_style1" id="page4_jCheckBox1"><input type="checkbox" id="check_page4_jCheckBox1"/><label>记住密码</label></div>
				<div id="page4_jButton1" class="vjbutton vjbutton_c_style1 btn_font2 border_radius_3"><div class="vjbutton_txtR">登录</div></div>
				<div id="page4_jButton2" class="vjbutton vjbutton_c_style1 btn_font2 border_radius_3"><div class="vjbutton_txtR">注册</div></div>
				<input type="password" class="Edit Edit_style4" value="" id="page4_jEdit2"/>	</form>
		</div>
		
		<div id="page4_jLabel3" class="text">企业LOGO及名称</div>
		<div id="page4_jImages2" class="Timage Timage_style1 Timage_auto"><img src="images/jlogosmall.png" alt="images/jlogosmall.png" title=""/></div>
		<map name="page4_jImages2_map" id="page4_jImages2_map">
		</map>
		<div id="page4_jLabel4" class="text">应用系统名称及副标题</div>
		<div id="page4_jLabel5" class="text">用户登录</div>
		<div id="page4_jLabel6" class="text">LOGIN IN</div>
		<div id="page4_jLabel7" class="text">V</div>
		<div id="page4_jLabel8" class="text">版本号3.01</div></div></div>

</body>
<script type="text/javascript" src="js/Timage.js"></script>
</html>
